﻿@using System.Net
@using BlazorAppHyponet.Shared.Models
@inject IJSRuntime js
@inject HttpClient Http

<h3>Greenbox</h3>


<input @onmouseup="@OnMouseUp" @bind=@(this.Value) @onkeyup="@OnEnterKeyUp">


<code>




  

    DrawSpeechBubble(parentElement, greenBox, resultObject);

    SendSpecNode(resultObject);
    }




</code>

og



<code>






    //slet eventuelle greenbox'e som ikke er blevet udfyldt
    if (e.currentTarget.nextElementSibling != null && e.currentTarget.nextElementSibling.childNodes[0].parentElement.className != "purpleparagraf") {
    if (e.currentTarget.nextElementSibling.childNodes[1].innerText == "") {
    e.currentTarget.nextElementSibling.remove();
    












</code>




men også



<code>





    // markNodeOrigin er den marknode som specnoden kommer fra
    function SendSpecNode(MARKOrigin) {

    //Hvis man bruger ENTER eller museklik i et grønt felt som IKKE er tomt, så skal den sende til databasen
    var kunDenEneGang = true;
    $(".greenbox").keypress(async function (e) {

    if (e.which == 13 && kunDenEneGang && e.currentTarget.id == "") {
    //console.log("ENTER i .greenbox")
    e.preventDefault();
    var resultObject = await SpecNodeCreation(e, MARKOrigin);
    AssNodeCreation(resultObject, MARKOrigin);
    e.currentTarget.removeAttribute("contenteditable")
    kunDenEneGang = false;
    }

    });

    $("body").on("mousedown", ".greenbox", async function (e) {
    FjernMarkTag(e);
    if (e.currentTarget.innerText != "" && kunDenEneGang && e.currentTarget.id == "") {
    //console.log("Da der ikke blev trykket ENTER i .greenbox, sendes indholdet til databasen")
    var resultObject = await SpecNodeCreation(e, MARKOrigin)
    AssNodeCreation(resultObject, MARKOrigin);
    e.currentTarget.removeAttribute("contenteditable");
    kunDenEneGang = false;
    }
    });
    }











</code>

@code {
    public string SelectedText { get; set; }
    public string Value { get; set; }
    public bool HasInputBeenSubmitted { get; set; } = false;
    public string RootText { get; set; }
    public string MarkText { get; set; }
    public string FromNodeId { get; set; }
    public string ToNodeId { get; set; }


    //Funktioner ved tastetryk:

    public async Task OnEnterKeyUp(KeyboardEventArgs args)
    {
        if (args.Key == "Enter" && HasInputBeenSubmitted == false && !string.IsNullOrEmpty(Value))
        {
            HasInputBeenSubmitted = true;

            var nodeList = await CreateSpecNode(Value);
            RootText = nodeList.FirstOrDefault()?.NodeName;
            FromNodeId = nodeList.FirstOrDefault()?.NodeId;
        }

    }

    public async Task<List<Node>> SendRequest(string requestUri)
    {

        var nodeList = await Http.GetFromJsonAsync<List<Node>>(requestUri);
        return nodeList;
    }

    public async Task SendRequest2(string requestUri)
    {
        var httpRequestMessage = new HttpRequestMessage(new HttpMethod("Get"), requestUri);
        await Http.SendAsync(httpRequestMessage);

    }

    public async Task<List<Node>> CreateSpecNode(string value)
    {
        var requestUri = $"api/Node/Create/{value}/SPEC";
        var nodeList = await SendRequest(requestUri);
        return nodeList;
    }



    public async Task OnMouseUp()
    {
        if (HasInputBeenSubmitted == false && !string.IsNullOrEmpty(Value))
        {
            HasInputBeenSubmitted = true;
            var nodeList = await CreateSpecNode(Value);
            RootText = nodeList.FirstOrDefault()?.NodeName;
            FromNodeId = nodeList.FirstOrDefault()?.NodeId;

            //Opretter en ny Greenbox/uddybningsboks/inputfelt til specifikationer
            await CreateGreenBox();


        }

        SelectedText = await GetSelectedText();

        if (!string.IsNullOrEmpty(SelectedText))
        {
            var nodeList = await CreateSpecNode(SelectedText);
            MarkText = nodeList.FirstOrDefault()?.NodeName;
            ToNodeId = nodeList.FirstOrDefault()?.NodeId;

            await CreateRelation(FromNodeId, ToNodeId, "Mark");

        }
    }

    public async Task<string> GetSelectedText()
    {
        var selectedTextTask = await js.InvokeAsync<string>("getSelectedText");
        return selectedTextTask;
    }

    public async Task<string> CreateGreenBox()
    {
        //Indsætter BlazorKomponentet GrenBox.razor med afsæt i markeringen (dvs Getselectedtext range)
        var greenbox = await js.InvokeAsync<string>("CreateGreenBox");
        return greenbox;

    }



    public async Task<List<Node>> CreateMarkNode(string value)
    {
        var requestUri = $"api/Node/Create/{value}/MARK";
        var nodeList = await SendRequest(requestUri);
        return nodeList;
    }




    public async Task CreateRelation(string fromNodeId, string toNodeId, string relationType)
    {
        var requestUri = $"api/Relation/Create/{fromNodeId}/{toNodeId}/{relationType}";
        await SendRequest2(requestUri);

    }


}
