﻿@page "/"




<div class="container-fluid" id="samtale">

    <Redbox></Redbox>
    @* Her dukker Grennbox op, når HasInputBeenSubmitted == true *@
    <div id="uddybninger"></div>
</div>


@code{


}



