﻿<h3>Purplebox</h3>

<code>
  
    //Opret et tekstfelt til til output af associationer (som er en ASSNODE)
    function CreateOutputBox(greenboxAndAssNode) {
    //Outputboks ÅBNES
    var NytPTag = document.createElement("p");
    //Definér tekstfeltet i view
    $(NytPTag).attr("class", "purpleparagraf");
    $(NytPTag).attr("contenteditable", "true");
    NytPTag.innerText = greenboxAndAssNode.node.name;

    if (greenboxAndAssNode.element.element.parentElement == $("p.redbox")) {
    //console.log("output udspringer fra" + "c% grundnode", "color:red;");
    //placer div og læg tekstfeltet ind i div
    var nyOutputBoks = document.createElement("div");
    $(nyOutputBoks).attr("class", "purpleboks");
    nyOutputBoks.append(NytPTag);
    } else {
    $(NytPTag).insertAfter(greenboxAndAssNode.element.element.parentElement.lastElementChild);
    //console.log("Output placeret efter")
    //console.log(FraNoden)
    }

    greenboxAndAssNode.element = NytPTag;
    SetBoxId(greenboxAndAssNode)
    //console.log("nu bliver der lavet en associationsboks");




    }


</code>



@code {

}
