﻿@using System.Net
@using BlazorAppHyponet.Shared.Models
@inject IJSRuntime js
@inject HttpClient Http
@* Grundnode-inputfelt med hentning af berørt tekst *@
@* #TODO: SendRootNode når der trykkes med musen udenfor inputfeltet, eller samtidig med at man laver mouseup, dvs samtidig med markering, men lige inden markering  *@
@* #TODO: Enten FjernMarkTag() eller find en måde at indikere at dette stykke af teksten har været markeret tidligere, uden at indsætte <mark> i HTML. Fx kan der laves en svg-streg under inputfeltet der begynder og slutter hvor markeringen starter og slutter *@

<input @onmouseup="@OnMouseUp" @bind=@(this.Value) @onkeyup="@OnEnterKeyUp">

<button @onclick="@CreateGreenBox">Lav en grønboks</button>
<p>Grundnoden der er oprettet i Neo4j er: @RootText </p>
<p>Du Markerede: @SelectedText</p>
<p>Neo4j oprettede mark noden: @MarkText</p>



@code {


    public string SelectedText { get; set; }
    public string Value { get; set; }
    public bool HasInputBeenSubmitted { get; set; } = false;
    public string RootText { get; set; }
    public string MarkText { get; set; }
    public string FromNodeId { get; set; }
    public string ToNodeId { get; set; }


    //Funktioner ved tastetryk:
    //#TODO: Betingelse: Send grundnode på keypress=ENTER eller hvis selectedText.length > 1
    public async Task OnEnterKeyUp(KeyboardEventArgs args)
    {
        if (args.Key == "Enter" && HasInputBeenSubmitted == false && !string.IsNullOrEmpty(Value))
        {
            HasInputBeenSubmitted = true;

            var nodeList = await CreateRootNode(Value);
            RootText = nodeList.FirstOrDefault()?.NodeName;
            FromNodeId = nodeList.FirstOrDefault()?.NodeId;
        }

    }

    public async Task<List<Node>> SendRequest(string requestUri)
    {

        var nodeList = await Http.GetFromJsonAsync<List<Node>>(requestUri);
        return nodeList;
    }

    public async Task SendRequest2(string requestUri)
    {
        var httpRequestMessage = new HttpRequestMessage(new HttpMethod("Get"), requestUri);
        await Http.SendAsync(httpRequestMessage);

    }


    public async Task OnMouseUp()
    {
        if (HasInputBeenSubmitted == false && !string.IsNullOrEmpty(Value))
        {
            HasInputBeenSubmitted = true;
            var nodeList = await CreateRootNode(Value);
            RootText = nodeList.FirstOrDefault()?.NodeName;
            FromNodeId = nodeList.FirstOrDefault()?.NodeId;

            //Opretter en ny Greenbox/uddybningsboks/inputfelt til specifikationer
            await CreateGreenBox();


        }

        SelectedText = await GetSelectedText();

        if (!string.IsNullOrEmpty(SelectedText))
        {
            var nodeList = await CreateMarkNode(SelectedText);
            MarkText = nodeList.FirstOrDefault()?.NodeName;
            ToNodeId = nodeList.FirstOrDefault()?.NodeId;

            await CreateRelation(FromNodeId, ToNodeId, "Mark");

        }
    }

    public async Task<string> GetSelectedText()
    {
        var selectedTextTask = await js.InvokeAsync<string>("getSelectedText");
        return selectedTextTask;
    }

    public async Task<string> CreateGreenBox()
    {
        //Indsætter BlazorKomponentet GrenBox.razor med afsæt i markeringen (dvs Getselectedtext range)
        var greenbox = await js.InvokeAsync<string>("CreateGreenBox");
        return greenbox;
    }


    public async Task<List<Node>> CreateRootNode(string value)
    {
        var requestUri = $"api/Node/Create/{value}/ROOT";
        var nodeList = await SendRequest(requestUri);
        return nodeList;
    }

    public async Task<List<Node>> CreateMarkNode(string value)
    {
        var requestUri = $"api/Node/Create/{value}/MARK";
        var nodeList = await SendRequest(requestUri);
        return nodeList;
    }




    public async Task CreateRelation(string fromNodeId, string toNodeId, string relationType)
    {
        var requestUri = $"api/Relation/Create/{fromNodeId}/{toNodeId}/{relationType}";
        await SendRequest2(requestUri);

    }



}


